body {
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: white;
}

h2 {
  font-size: 1.3125rem;
}

.subtitle {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
}

.bold { font-weight: 900; }

/* Intro section */

.intro {
  background-color: #404040;
  background-image: url("../images/bbq.jpg");
  padding: 0 .25em 1em;
}