* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: white;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

.subtitle {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin-top: 0;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
}

.bold { font-weight: 900; }

/* Intro section */

.intro {
  background-color: #404040;
  background-image: url("../images/bbq.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 .5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.top-text {
  order: -1;
  /* text-decoration: overline; */
}

/* Main content */

.main-content {
  padding: 2em 1em;
}

.intro > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* form */

.email-collector {
  width: 80%;
  max-width: 300px;
}

input, .btn {
  width: 100%;
  border-radius: 5px;
}

input {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: .75em;
  padding: .25em;
  border: 1px solid #404040;
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to right, #ffa51d, #ff713b);
  color: white;
  transform: scale(1);
  transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}

/* media query */

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2, .subtitle {
    font-size: 1.75rem;
  }

  .divider {
    display: flex;
    max-width: 100%;
  }

  .intro,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

