body {
  margin:0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #404040;
  text-align: center;
}

/* typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: white;
  margin: 2em 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

.subtitle {
  color: #f18119;
  font-weight: 900;
  font-size: 1.3125rem;
  text-transform: uppercase;
  margin-top: 0;
}

.fine-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

.top-text {
  font-size: 0.625rem;
  font-weight: 900;
  color: #f18119;
  text-transform: uppercase;
}

.bold { font-weight: 900; }

/* Intro section */

.intro {
  background-color: #404040;
  background-image: url("../images/bbq.jpg");
  padding: 0 .5em 2em;
  display: flex;
  flex-direction: column;
}

.top-text {
  order: -1;
  /* text-decoration: overline; */
}

/* Main content */

.main-content {
  padding: 2em 1em;
}

/* media query */

@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2, .subtitle {
    font-size: 1.75rem;
  }
}

